
    {% extends "master.html" %}
    {% load static %}

    {% block title %}
        Details about {{ mymember.firstname }} {{ mymember.lastname }}
    {% endblock %}

    {% block content%}
        <img class="cat" src="{% static 'images/cat.jpg' %}"/>
        <h2>Name :{{mymember.firstname}} {{mymember.lastname}}</h2>
        <h4>phone no : {{mymember.phone}}</h4>
        <h4>member since : {{mymember.joined_date}}</h4>
       
 


        <h3 class="hey">back to <a href="/home">Members</a></h3>
    {%endblock%}

    