<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends "master.html" %}

    {% block title %}
        Details about {{ mymember.firstname }} {{ mymember.lastname }}
    {% endblock %}
</head>
<body>
    
    <hr>
    {% block content%}
        <h2>{{mymember.firstname}} {{mymember.lastname}}</h2>
        <h4>phone no : {{mymember.phone}}</h4>
        <h4>member since : {{mymember.joined_date}}</h4>

        <h3>back to <a href="/home">Members</a></h3>
    {%endblock%}
</body>
</html>