
    {% extends "master.html" %}
    {% load static %}


    {% block title %}
        My Tennis Club - List of all members
    {% endblock %}    

    {% block content %}
        <form method="post">
            {% csrf_token %}
            <label for="fname">First name</label>
            <input type="text" placeholder="firstname" name="fname" value="{{member.firstname}}"/><br><br>
            <label for="lname">Last name</label>
            <input type=" text" placeholder="lastname" name="lname" value="{{member.lastname}}"/><br><br>
            <button>Submit</button>
            
        </form>
    {% endblock %}
